# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
*.env
*.env.*
backend/.env
venv/
ENV/

# Database & User Audit Data
*.db
*.sqlite3
*.xlsx


# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Temporary / Uploads
backend/uploads/*
!backend/uploads/.gitkeep
